@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Stack+Sans+Notch:wght@200..700&display=swap");

@theme {
  --font-sans: "Stack Sans Notch", sans-serif;

  /* Warna Tema */
  --color-darkBg: #0b131f;
  --color-cardBg: #111a24;
  --color-neonCyan: #00f3ff;
  --color-neonBlue: #0066cc;

  /* Efek Glow */
  --shadow-neon-glow: 0 0 15px rgba(0, 243, 255, 0.5);
  --shadow-neon-text: 0 0 10px rgba(0, 243, 255, 0.6);
}

body {
  font-family: var(--font-sans);
}

html {
  scroll-behavior: smooth;
}

@keyframes slideFromLeft {
  from {
    opacity: 0;
    transform: translateX(-150px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-fade-slide-left {
  animation: slideInLeft 0.8s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

.animate-fade-slide-right {
  animation: slideInRight 0.8s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}
